.hero {
    height: 100vh;
    background: url("../../img/hero_background.jpg") bottom center/cover;
    position: relative;
    display: flex;
    justify-content: center;
}

.nameHeading {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18vw;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 800;
    color: #f4f4f4;
    z-index: 1;
    user-select: none;
}

.scrollDown {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
}

.mouse {
    height: 5rem;
    width: 2.5rem;
    border: 2px solid #f4f4f4;
    border-radius: 2rem;
    display: flex;

}

.mouse span {
    display: block;
    height: 1rem;
    width: 1rem;
    background-color: #f4f4f4;
    border-radius: 50%;
    margin: auto;
    animation: move-wheel 1s linear infinite;
}

.arrow span {
    display: block;
    width: 1rem;
    height: 1rem;
    border-right: 2px solid #f4f4f4;
    border-bottom: 2px solid #f4f4f4;
    transform: rotate(45deg);
    animation: arrow-down 1s linear infinite;
}

@keyframes move-wheel {
    0% {
        opacity: 1;
        transform: translateY(-1rem);
    }
    100% {
        opacity: 0;
        transform: translateY(2rem);
    }
}


@keyframes arrow-down {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
}


@media screen and (max-width: 600px) {
    .hero {
        height: 50rem;
    }
}

@media screen and (orientation: landscape) and (max-width: 1000px){
    .hero {
        height: initial;
        min-height: 100vh;

    }
}