.headingGroup {
    color: #262626;
    margin-bottom: 5rem;
}

.sectionHeadSmall {
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    color: #999;
    letter-spacing: 3px;
    margin-bottom: 1rem;
}

.sectionHeadLarge{
    font-size: 1.8rem;
    font-family: 'Playfair Display', sans-serif;
    text-transform: uppercase;
    letter-spacing: .5rem;
}